
#user-notes-container {
    border-radius: 12px;
}
#user-notes-title-nav-container{

}
#user-notes-title-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#user-notes-menu {
    /* display: flex;
    align-items: center;
    justify-content: space-between; */
}


#user-notes { 
    margin-top: 0;
    padding: 24px 38px;
}
.user-notes-content {
    font-size: 1.2rem;
    text-align: justify;
    letter-spacing: 1px;
    line-height: 1.5;
}
#user-notes-createdAt {
    text-align: center;
    font-size: 14px;
    color: gray;
    border-radius: 12px;
}

